html
  head
    title This is my Giphy search
  body
    input(
      type='text'
      name='q'
      placeholder='Search for GIFS...'
      )
    button(id='one') Search One!
    button(id='many') Search Many!
    br
    div
      img
      
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
      $('#one').on('click', function(e) {
        e.preventDefault();
        var query = $('input').val();
        $.get('/search/one/' + query).done(function(url) {
          $('img').attr('src', url);
        });
      });
